<html>
	<head>
		<title>Ethereum Transaction Crawler</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="title">Ethereum Transaction Crawler</div>
			<form action="/crawl" method="post" enctype="multipart/form-data">
				<div class="group">
					<input type="text" name="address" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Address</label>
				</div>

				<div class="group">
					<input type="text" name="block" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Startnig block</label>
				</div>
				<input type="submit" value="Search"/>
			</form>
		</div>
	</body>
</html>
