img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

div#title {
	text-align: center;
	font-size:  2em;
}

div#table {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

table {
	border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: auto;
    margin-right: auto;
}

thead tr {
    background-color: #1e4470;
    color: #ffffff;
    text-align: left;
}

td {
	background-color: #3269a8;
	color: #ffffff;
    padding: 12px 15px;
}

tr {
	background-color: #1e4470;
	color: #ffffff;
    border-bottom: 1px solid #dddddd;
}