body          {
  background-color: #1e4470;
  color: #FFF;
}

.container    { 
  font-family:'Roboto';
  width: 600px; 
  margin: 30px auto 0; 
  display: block; 
  background: #1e4470;
  padding: 10px 50px 50px;
}

div.title {
	text-align: center;
	font-family: 'Roboto';
	font-size:  32px;
	margin-bottom: 45px;
}

div.chart {
	margin-bottom: 45px;
}

img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

div.table {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

table {

	border-collapse: collapse;
	margin: 25px 0;
	font-size: 15px;
	font-family: 'Roboto';
	min-width: 400m;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
}

thead tr {
	background-color: rgba(255,255,255,0.2);
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;
}

td {
	padding: 12px 15px;
	background-color: rgba(255,255,255,0.2);
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	word-wrap: break-word;
	max-width: 80px;
	-webkit-hyphens: auto; /* iOS 4.2+ */
	-moz-hyphens: auto; /* Firefox 5+ */
	-ms-hyphens: auto; /* IE 10+ */
	hyphens: auto;
	&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
				}
			}
}

tr {
	background-color: rgba(255,255,255,0.2);
	color: #ffffff;
    border-bottom: 1px solid #dddddd;
    &:hover {
			background-color: rgba(255,255,255,0.3);
		}
}
