img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

div#title {
	text-align: center;
	font-family: sans-serif;
	font-size:  2em;
}

div#table {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

table {
	border-collapse: collapse;
    margin: 1.6em 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 25em;
    box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.15);
	margin-left: auto;
    margin-right: auto;
}

thead tr {
    background-color: #1e4470;
    color: #ffffff;
    text-align: left;
}

td {
	background-color: #3269a8;
	color: #ffffff;
	padding: 0.75em 0.95em;
	word-wrap: break-word;
	max-width: 5em;
	-webkit-hyphens: auto; /* iOS 4.2+ */
	-moz-hyphens: auto; /* Firefox 5+ */
	-ms-hyphens: auto; /* IE 10+ */
	hyphens: auto;
}

tr {
	background-color: #1e4470;
	color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
